<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new advert</title>
    <link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div th:replace="~{fragments/navbar}"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="text-center my-5">Create a new advert</h3>
            <hr/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="#" th:action="@{/adverts/}" th:object="${advert}" method="post">
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" id="category" th:field="*{category}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="text">Text:</label>
                    <input type="text" id="text" th:field="*{text}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="contacts">Contacts:</label>
                    <input type="text" id="contacts" th:field="*{contacts}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="duration">Duration:</label>
                    <input type="number" id="duration" th:field="*{duration}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="user">User:</label>
                    <select id="user" th:field="*{userId}" class="form-control">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"/>
                    </select>
                </div>
                <div class="text-center">
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-success text-white">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>